In [1]:
import sys
import numpy as np
import pandas as pd

In [2]:
df = pd.read_json('osm/amenities-vancouver.json.gz', lines=True)

In [3]:
df

,lat,lon,timestamp,amenity,name,tags
0,49.260812,-123.125736,2020-03-20T18:22:12.000-07:00,cafe,Starbucks,"{'brand:wikidata': 'Q37158', 'official_name': ..."
1,49.260953,-123.125704,2019-08-02T18:11:20.000-07:00,fast_food,Salad Loop,{'opening_hours': 'Mo-Fr 07:00-17:00; Sa 10:00...
2,49.373423,-123.291894,2016-10-10T02:14:29.000-07:00,toilets,NaN,{}
3,49.249848,-122.959708,2011-09-06T03:52:10.000-07:00,bbq,NaN,{}
4,49.370898,-123.280448,2015-05-03T00:42:25.000-07:00,place_of_worship,St. Monica's Anglican Church,"{'addr:housenumber': '6404', 'addr:street': 'W..."
...,...,...,...,...,...,...
17713,49.278424,-122.806704,2013-03-26T23:45:49.000-07:00,cafe,Creekside Coffee,{}
17714,49.278770,-122.797628,2013-03-26T23:45:49.000-07:00,restaurant,Togo Sushi,{'cuisine': 'japanese'}
17715,49.276443,-122.790138,2013-03-26T23:45:50.000-07:00,parking,NaN,{}
17716,49.282666,-122.826978,2019-09-13T13:56:49.000-07:00,pub,Brown's Social House,"{'addr:housenumber': '215', 'brewery': 'Guinne..."
17717,49.282420,-122.826340,2019-09-13T13:56:49.000-07:00,cafe,Gallagher's Cafe,"{'addr:housenumber': '232', 'internet_access':..."

In [4]:
am_count = df.groupby(['amenity']).count()

In [5]:
pd.set_option('display.max_rows', 139)
print(am_count[am_count['lat'] > 20])
pd.set_option('display.max_rows', 10)

                   lat   lon  timestamp  name  tags
amenity
atm                 98    98         98     8    98
bank               460   460        460   458   460
bar                177   177        177   173   177
bench             3738  3738       3738    95  3738
bicycle_parking   1423  1423       1423     3  1423
bicycle_rental     202   202        202   201   202
bureau_de_change    23    23         23    20    23
cafe              1066  1066       1066  1055  1066
car_rental          33    33         33    33    33
car_sharing        132   132        132     9   132
car_wash            31    31         31    20    31
charging_station    63    63         63    18    63
childcare           47    47         47    43    47
clinic             120   120        120   114   120
college             23    23         23    23    23
community_centre    63    63         63    58    63
dentist            248   248        248   226   248
doctors             99    99         99    99    99
drinking_water     322   322        322     9   322
fast_food         1147  1147       1147  1131  1147
ferry_terminal      33    33         33    28    33
fire_station        22    22         22    19    22
fountain            61    61         61     7    61
fuel               202   202        202   188   202
ice_cream           73    73         73    71    73
library             51    51         51    50    51
parking            307   307        307    29   307
parking_entrance   274   274        274     5   274
pharmacy           311   311        311   304   311
place_of_worship   116   116        116    96   116
police              23    23         23    20    23
post_box           972   972        972   116   972
post_office        188   188        188   187   188
pub                189   189        189   186   189
public_bookcase     80    80         80    38    80
recycling          139   139        139    31   139
restaurant        2472  2472       2472  2444  2472
school              71    71         71    62    71
shelter             65    65         65    11    65
social_facility     50    50         50    49    50
telephone           68    68         68     1    68
theatre             44    44         44    41    44
toilets            552   552        552    18   552
vending_machine    138   138        138    11   138
veterinary          72    72         72    68    72
waste_basket      1137  1137       1137    21  1137
waste_disposal      82    82         82     1    82

In [6]:
pd.set_option('display.max_rows', 139)
print(df.groupby(['amenity']).count())
pd.set_option('display.max_rows', 10)

                         lat   lon  timestamp  name  tags
amenity
ATLAS_clean_room           1     1          1     0     1
EVSE                       1     1          1     0     1
Observation Platform       1     1          1     0     1
Pharmacy                   2     2          2     2     2
animal_shelter             4     4          4     4     4
arts_centre               11    11         11    11    11
atm                       98    98         98     8    98
atm;bank                   1     1          1     1     1
bank                     460   460        460   458   460
bar                      177   177        177   173   177
bbq                        7     7          7     0     7
bench                   3738  3738       3738    95  3738
bicycle_parking         1423  1423       1423     3  1423
bicycle_rental           202   202        202   201   202
bicycle_repair_station    19    19         19     2    19
biergarten                 1     1          1     0     1
bistro                     1     1          1     1     1
boat_rental                9     9          9     8     9
bureau_de_change          23    23         23    20    23
bus_station               16    16         16    16    16
cafe                    1066  1066       1066  1055  1066
car_rental                33    33         33    33    33
car_rep                    1     1          1     1     1
car_sharing              132   132        132     9   132
car_wash                  31    31         31    20    31
casino                     1     1          1     1     1
charging_station          63    63         63    18    63
childcare                 47    47         47    43    47
chiropractor               1     1          1     1     1
cinema                    12    12         12    12    12
clinic                   120   120        120   114   120
clock                     10    10         10     4    10
college                   23    23         23    23    23
community_centre          63    63         63    58    63
compressed_air             8     8          8     0     8
conference_centre          2     2          2     2     2
construction               5     5          5     4     5
courthouse                 2     2          2     2     2
cram_school                2     2          2     2     2
dentist                  248   248        248   226   248
disused:restaurant         1     1          1     1     1
doctors                   99    99         99    99    99
dojo                      13    13         13    13    13
drinking_water           322   322        322     9   322
driving_school             3     3          3     3     3
events_venue               9     9          9     9     9
family_centre              1     1          1     1     1
fast_food               1147  1147       1147  1131  1147
ferry_terminal            33    33         33    28    33
fire_station              22    22         22    19    22
first_aid                  1     1          1     0     1
food_court                15    15         15     6    15
fountain                  61    61         61     7    61
fuel                     202   202        202   188   202
gambling                   1     1          1     1     1
gym                        1     1          1     1     1
healthcare                 2     2          2     1     2
hospital                   8     8          8     8     8
housing co-op              1     1          1     1     1
hunting_stand              1     1          1     0     1
ice_cream                 73    73         73    71    73
internet_cafe              2     2          2     2     2
juice_bar                  1     1          1     1     1
kindergarten              17    17         17    16    17
language_school            5     5          5     5     5
leisure                    1     1          1     1     1
letter_box                 2     2          2     0     2
library                   51    51         51    50    51
loading_dock               4     4          4     0     4
lobby                      1     1          1     1     1
lounge                     4     4          4     3     4
luggage_locker             1     1          1     0     1
marketplace               18    18         18    17    18
meditation_centre          1     1          1     1     1
monastery                  1     1          1     1     1
money_transfer             1     1          1     0     1
motorcycle_parking         6     6          6     3     6
motorcycle_rental          1     1          1     1     1
music_school              11    11         11    10    11
nightclub                 12    12         12    12    12
nursery                    1     1          1     1     1
office|financial           1     1          1     1     1
park                       1     1          1     1     1
parking                  307   307        307    29   307
parking_entrance         274   274        274     5   274
parking_space              8     8          8     0     8
payment_terminal           1     1          1     0     1
pharmacy                 311   311        311   304   311
photo_booth                1     1          1     0     1
place_of_worship         116   116        116    96   116
playground                 1     1          1     0     1
police                    23    23         23    20    23
post_box                 972   972        972   116   972
post_depot                 2     2          2     2     2
post_office              188   188        188   187   188
prep_school                5     5          5     5     5
pub                      189   189        189   186   189
public_bookcase           80    80         80    38    80
public_building            1     1          1     1     1
ranger_station             1     1          1     0     1
recycling                139   139        139    31   139
research_institute        11    11         11    11    11
restaurant              2472  2472       2472  2444  2472
safety                     1     1          1     1     1
sanitary_dump_station      4     4          4     0     4
school                    71    71         71    62    71
science                    6     6          6     6     6
scrapyard                  2     2          2     2     2
seaplane terminal          3     3          3     0     3
shelter                   65    65         65    11    65
shop|clothes               1     1          1     1     1
shower                     8     8          8     0     8
smoking_area               4     4          4     0     4
social_centre             12    12         12    12    12
social_facility           50    50         50    49    50
spa                        5     5          5     5     5
storage                    1     1          1     1     1
storage_rental             1     1          1     1     1
stripclub                  2     2          2     0     2
studio                     6     6          6     6     6
taxi                      13    13         13     1    13
telephone                 68    68         68     1    68
theatre                   44    44         44    41    44
toilets                  552   552        552    18   552
townhall                   9     9          9     7     9
training                   1     1          1     1     1
trash                      1     1          1     0     1
trolley_bay               16    16         16     0    16
university                 6     6          6     6     6
vacuum_cleaner             5     5          5     0     5
vending_machine          138   138        138    11   138
veterinary                72    72         72    68    72
waste_basket            1137  1137       1137    21  1137
waste_disposal            82    82         82     1    82
waste_transfer_station     1     1          1     1     1
water_point                1     1          1     1     1
watering_place             1     1          1     1     1
workshop                   3     3          3     3     3

In [7]:
interesting_amenities = ['arts_centre','boat_rental','car_rental','casino','cinema']

In [8]:
df['tags'].loc[1531]

{'wheelchair': 'yes',
 'addr:housenumber': '305',
 'historic': 'monument',
 'visibility': 'street',
 'display': 'analog',
 'tourism': 'attraction',
 'addr:street': 'Water Street',
 'wikipedia': 'en:Steam clock#Gastown steam clock',
 'wikidata': 'Q477663',
 'support': 'ground'}

In [9]:
def is_interesting(amenity):
    boring = ['waste_basket', 'toilets', 'bench']
    if amenity in boring:
        return False
    else:
        return True

In [10]:
def is_tourism(tags):
    if 'tourism' in tags:
        return True
    else:
        return False

In [11]:
df['is_interesting'] = df['amenity'].apply(lambda x : is_interesting(x))

In [12]:
df['is_tourism'] = df['tags'].apply(lambda x : is_tourism(x))

In [13]:
df[(df['is_interesting'] == True) | (df['is_tourism'] == True)]

,lat,lon,timestamp,amenity,name,tags,is_interesting,is_tourism
0,49.260812,-123.125736,2020-03-20T18:22:12.000-07:00,cafe,Starbucks,"{'brand:wikidata': 'Q37158', 'official_name': ...",True,False
1,49.260953,-123.125704,2019-08-02T18:11:20.000-07:00,fast_food,Salad Loop,{'opening_hours': 'Mo-Fr 07:00-17:00; Sa 10:00...,True,False
3,49.249848,-122.959708,2011-09-06T03:52:10.000-07:00,bbq,NaN,{},True,False
4,49.370898,-123.280448,2015-05-03T00:42:25.000-07:00,place_of_worship,St. Monica's Anglican Church,"{'addr:housenumber': '6404', 'addr:street': 'W...",True,False
5,49.219983,-122.988481,2010-02-26T02:20:23.000-08:00,post_box,NaN,{'operator': 'Canada Post'},True,False
...,...,...,...,...,...,...,...,...
17713,49.278424,-122.806704,2013-03-26T23:45:49.000-07:00,cafe,Creekside Coffee,{},True,False
17714,49.278770,-122.797628,2013-03-26T23:45:49.000-07:00,restaurant,Togo Sushi,{'cuisine': 'japanese'},True,False
17715,49.276443,-122.790138,2013-03-26T23:45:50.000-07:00,parking,NaN,{},True,False
17716,49.282666,-122.826978,2019-09-13T13:56:49.000-07:00,pub,Brown's Social House,"{'addr:housenumber': '215', 'brewery': 'Guinne...",True,False
17717,49.282420,-122.826340,2019-09-13T13:56:49.000-07:00,cafe,Gallagher's Cafe,"{'addr:housenumber': '232', 'internet_access':...",True,False

In [14]:
pd.set_option('display.max_rows', 10)
print(df[df['amenity'] == 'fast_food'].groupby('name').count())
pd.set_option('display.max_rows', 10)

                               lat  lon  timestamp  amenity  tags  \
name
2001 Flavors                     1    1          1        1     1
24 Train Express Noodle House    1    1          1        1     1
4 Brothers' Pizza                1    1          1        1     1
76 Pizza                         1    1          1        1     1
99 Bbq                           1    1          1        1     1
...                            ...  ...        ...      ...   ...
ono's of Japan                   1    1          1        1     1
panago                           1    1          1        1     1
rasoee                           1    1          1        1     1
strEATS Aldergrove               1    1          1        1     1
æ•˜é¦™åœ’                              1    1          1        1     1

                               is_interesting  is_tourism
name
2001 Flavors                                1           1
24 Train Express Noodle House               1           1
4 Brothers' Pizza                           1           1
76 Pizza                                    1           1
99 Bbq                                      1           1
...                                       ...         ...
ono's of Japan                              1           1
panago                                      1           1
rasoee                                      1           1
strEATS Aldergrove                          1           1
æ•˜é¦™åœ’                                         1           1

[497 rows x 7 columns]

In [15]:
food_count = df[(df['amenity'] == 'fast_food') | (df['amenity'] == 'restaurant')].groupby('name').count()

In [16]:
food_count['is_chain'] = (food_count['lat'] > 1)

In [17]:
chain_count = food_count[food_count['is_chain'] == True]

In [18]:
chain_count = chain_count.reset_index()

In [19]:
chain_count

,name,lat,lon,timestamp,amenity,tags,is_interesting,is_tourism,is_chain
0,A&W,55,55,55,55,55,55,55,True
1,Al Basha,2,2,2,2,2,2,2,True
2,Arby's,2,2,2,2,2,2,2,True
3,Asa Sushi,2,2,2,2,2,2,2,True
4,Banana Leaf,4,4,4,4,4,4,4,True
...,...,...,...,...,...,...,...,...,...
262,X-Site Grill & Bistro,2,2,2,2,2,2,2,True
263,Yolks,2,2,2,2,2,2,2,True
264,Zaika Tastes of India,2,2,2,2,2,2,2,True
265,Zeitoon,2,2,2,2,2,2,2,True
266,freshii,2,2,2,2,2,2,2,True

In [20]:
# chain_count['name'] = chain_count['name'].astype('str')

In [21]:
# df.join(chain_count, on='name')

In [22]:
# is_chain = chain_count[]''

In [23]:
is_chain = chain_count[['name','is_chain']]

In [24]:
# chain_count['name'].values

In [25]:
df = df.merge(is_chain, how='outer', on='name')

In [26]:
df

,lat,lon,timestamp,amenity,name,tags,is_interesting,is_tourism,is_chain
0,49.260812,-123.125736,2020-03-20T18:22:12.000-07:00,cafe,Starbucks,"{'brand:wikidata': 'Q37158', 'official_name': ...",True,False,NaN
1,49.212659,-122.919347,2019-07-02T01:10:30.000-07:00,cafe,Starbucks,"{'brand:wikidata': 'Q37158', 'official_name': ...",True,False,NaN
2,49.278119,-122.912285,2020-01-18T09:04:52.000-08:00,cafe,Starbucks,"{'brand:wikidata': 'Q37158', 'official_name': ...",True,False,NaN
3,49.276908,-122.858963,2020-02-12T23:53:44.000-08:00,cafe,Starbucks,"{'brand:wikidata': 'Q37158', 'official_name': ...",True,False,NaN
4,49.040895,-122.269834,2016-08-16T16:50:10.000-07:00,cafe,Starbucks,{'cuisine': 'coffee_shop'},True,False,NaN
...,...,...,...,...,...,...,...,...,...
17713,49.262659,-123.251745,2019-11-04T20:07:41.000-08:00,cafe,Magma CafÃ¨,"{'wheelchair': 'yes', 'addr:housenumber': '633...",True,False,NaN
17714,49.145150,-122.014576,2019-02-24T18:40:19.000-08:00,recycling,Pick-A-Part,"{'recycling_type': 'centre', 'shop': 'car_part...",True,False,NaN
17715,49.250408,-123.076261,2017-07-08T05:22:57.000-07:00,restaurant,House of Dosas,"{'addr:housenumber': '1391', 'phone': '+1-604-...",True,False,NaN
17716,49.278424,-122.806704,2013-03-26T23:45:49.000-07:00,cafe,Creekside Coffee,{},True,False,NaN
17717,49.282420,-122.826340,2019-09-13T13:56:49.000-07:00,cafe,Gallagher's Cafe,"{'addr:housenumber': '232', 'internet_access':...",True,False,NaN

In [27]:
df['is_chain'] = (df['is_chain'] == True)

In [28]:
df

,lat,lon,timestamp,amenity,name,tags,is_interesting,is_tourism,is_chain
0,49.260812,-123.125736,2020-03-20T18:22:12.000-07:00,cafe,Starbucks,"{'brand:wikidata': 'Q37158', 'official_name': ...",True,False,False
1,49.212659,-122.919347,2019-07-02T01:10:30.000-07:00,cafe,Starbucks,"{'brand:wikidata': 'Q37158', 'official_name': ...",True,False,False
2,49.278119,-122.912285,2020-01-18T09:04:52.000-08:00,cafe,Starbucks,"{'brand:wikidata': 'Q37158', 'official_name': ...",True,False,False
3,49.276908,-122.858963,2020-02-12T23:53:44.000-08:00,cafe,Starbucks,"{'brand:wikidata': 'Q37158', 'official_name': ...",True,False,False
4,49.040895,-122.269834,2016-08-16T16:50:10.000-07:00,cafe,Starbucks,{'cuisine': 'coffee_shop'},True,False,False
...,...,...,...,...,...,...,...,...,...
17713,49.262659,-123.251745,2019-11-04T20:07:41.000-08:00,cafe,Magma CafÃ¨,"{'wheelchair': 'yes', 'addr:housenumber': '633...",True,False,False
17714,49.145150,-122.014576,2019-02-24T18:40:19.000-08:00,recycling,Pick-A-Part,"{'recycling_type': 'centre', 'shop': 'car_part...",True,False,False
17715,49.250408,-123.076261,2017-07-08T05:22:57.000-07:00,restaurant,House of Dosas,"{'addr:housenumber': '1391', 'phone': '+1-604-...",True,False,False
17716,49.278424,-122.806704,2013-03-26T23:45:49.000-07:00,cafe,Creekside Coffee,{},True,False,False
17717,49.282420,-122.826340,2019-09-13T13:56:49.000-07:00,cafe,Gallagher's Cafe,"{'addr:housenumber': '232', 'internet_access':...",True,False,False